extends ../layout

block content
  link(href='/bootstrap/css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
  script(src='/javascripts/jquery.min.js')
  script(src='javascripts/scripts.js')
  link(href='/stylesheets/style1.css', rel='stylesheet', type='text/css', media='all')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  script(src='javascripts/responsiveslides.min.js')
  script.
    $(function () {
    $("#slider").responsiveSlides({
    auto: true,
    speed: 500,
    namespace: "callbacks",
    pager: true,
    });
    });
  .jumbotron.specialjum
    .featurette
      .featurette-inner.text-center
        form.search(role='form')
          h3 Buy and Rent Property in Kenya
          .input-group.input-group-lg
            input.form-control(type='search', placeholder='City, County')
            span.input-group-btn
              button.btn.btn-info(type='button')
                i.glyphicon.glyphicon-search
  .banner-bottom-top
    .container
      .bottom-header
        .header-bottom
          .bottom-head
            a(href='/property/for_sale')
              .buy-media
                i.buy  
                h6 Buy
          .bottom-head
            a(href='/property/for_rent')
              .buy-media
                i.rent  
                h6 Rent
          .bottom-head
            a(href='buy.html')
              .buy-media
                i.sell  
                h6 Land
          .bottom-head
            a(href='loan.html')
              .buy-media
                i.loan  
                h6 Commercial
          .bottom-head
            a(href='buy.html')
              .buy-media
                i.apart  
                h6 Projects
          .bottom-head
            a(href='dealers.html')
              .buy-media
                i.deal  
                h6 Dealers
          .bottom-head
            a(href='buy.html')
              .buy-media
                i.pg  
                h6 Hostels
          .clearfix  
  .container
    .row-fluid
      each property in propertys
        .col-sm-6.col-md-4
          .thumbnail
            img(src="/uploads/"+ property.photo, width="100%", alt='')
            .add-to-cart
              a.glyphicon.glyphicon-plus-sign(href='#', data-toggle='tooltip', data-placement='top', title='Add to cart')
            .caption
              h4.pull-right Ksh: #{property.price}
              h4
                a(href='product.html')
                  | 1
                  sup st
                  =property.name
              p
                =property.description
              .ratings
                p.pull-right
                  a(href='product.html#comments') 15 reviews
                p
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
    .row-fluid  
      .text-center
        ul.pagination
          li.disabled
            a(href='#') «
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »

script(src='/bootstrap/js/bootstrap.js')
