extends ../layout

block content
  .container
    #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
      .panel.panel-info
        .panel-heading
          .panel-title Sign In
          div(style='float:right; font-size: 80%; position: relative; top:-10px')
            a(href='#') Forgot password?
        .panel-body(style='padding-top:30px')
          #login-alert.alert.alert-danger.col-sm-12(style='display:none')
          form#loginForm(action='',method='post')
            .input-group(style='margin-bottom: 25px')
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(type='text', name='username', placeholder='username')
            .input-group(style='margin-bottom: 25px')
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input.form-control(type='password', name='password', placeholder='password')
            .input-group
              .checkbox
                label
                  input#login-remember(type='checkbox', name='remember', value='1')
                  |  Remember me
            .form-group(style='margin-top:10px')
              // Button
              .col-sm-12.controls
                .form-group
                  button.btn.btn-def.btn-info(type='submit') Login  
                  a#btn-fblogin.btn.btn-danger(href='/auth/google') Login with Google
            .form-group
              .col-md-12.control
                div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
                  | Don't have an account! 
                  a(href='/register')
                    | Sign Up Here
