doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dashboard - Home
    meta(name='description', content='')
    meta(name='author', content='templatemo')
  
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700', rel='stylesheet', type='text/css')
    link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/templatemo-style.css', rel='stylesheet')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // Left column
    .templatemo-flex-row
      .templatemo-sidebar
        header.templatemo-site-header
          a(href='/')
            img.img-responsive(src='/images/logo.png', alt='Profile Photo')
        .profile-photo-container
          a(src='/images/prof_pic.png')
            img.img-responsive(src='/images/prof_pic.png', alt='Profile Photo')
          .profile-photo-overlay
        // Search box
        form.templatemo-search-form(role='search')
          .input-group
            button.fa.fa-search(type='submit')
            input#srch-term.form-control(type='text', placeholder='Search', name='srch-term')
        .mobile-menu-icon
          i.fa.fa-bars
        nav.templatemo-left-nav
          ul
            li
              a.active(href='/dashboard')
                i.fa.fa-home.fa-fw
                | Overview
            li
              a(href='/dashboard/profile')
                i.fa.fa-user.fa-fw
                | Profile
            li
              a(href='/dashboard/mylistings')
                i.fa.fa-bar-chart.fa-fw
                | My Properties
            li
              a(href='/dashboard/favourites')
                i.fa.fa-star
                | Favourites
            li
              a(href='/dashboard/analytics')
                i.fa.fa-bar-chart.fa-fw
                | Analytics
            li
              a(href='dashboard/search_map')
                i.fa.fa-map-marker.fa-fw
                | Maps
            li
              a(href='/logout')
                i.fa.fa-eject.fa-fw
                | Sign Out
      // Main content
      .templatemo-content.col-1.light-gray-bg
        .templatemo-top-nav-container
          .row
            nav.templatemo-top-nav.col-lg-12.col-md-12
              ul.text-uppercase
                li
                  a.active(href='/dashboard') Dashboard
                  
                  
          block content
          footer.text-right
            p
              | Copyright © 2018 Sokoestate.com 

    // JS
    script(src='javascripts/jquery-1.11.2.min.js')
    // jQuery
    script(src='javascripts/jquery-migrate-1.2.1.min.js')
    // jQuery Migrate Plugin
    script(src='https://www.google.com/jsapi')
    // Google Chart
    script.
      /* Google Chart
      -------------------------------------------------------------------*/
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
      ['Mushrooms', 3],
      ['Onions', 1],
      ['Olives', 1],
      ['Zucchini', 1],
      ['Pepperoni', 2]
      ]);
      // Set chart options
      var options = {'title':'How Much Pizza I Ate Last Night'};
      // Instantiate and draw our chart, passing in some options.
      var pieChart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
      pieChart.draw(data, options);
      var barChart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
      barChart.draw(data, options);
      }
      $(document).ready(function(){
      if($.browser.mozilla) {
      //refresh page on browser resize
      // http://www.sitepoint.com/jquery-refresh-page-browser-resize/
      $(window).bind('resize', function(e)
      {
      if (window.RT) clearTimeout(window.RT);
      window.RT = setTimeout(function()
      {
      this.location.reload(false); /* false to get page from cache */
      }, 200);
      });
      } else {
      $(window).resize(function(){
      drawChart();
      });
      }
      });
    script(type='text/javascript', src='javascripts/templatemo-script.js')
    // Templatemo Script
