extends dashboard_layout

block content
  .container
    .row
      .col-sm-9
        h3.fav_head Favourites
  .container
    .page_body  
      table.table.table-striped.table-hover.listing_table
        thead
          tr
            th 
            th Property Name
            th Categories
            th price
        tbody
          tr
            th
