extends dashboard_layout

block content
  .container
    .row
      .col-sm-9
        h3.list_head My Listings
      .col-sm-3
        a(href='/property/new')
          button.btn.btn-info Add new Listing
  .container
    .page_body  
      table.table.table-striped.table-hover.listing_table
        thead
          tr
            th 
            th Property Name
            th Categories
            th price
        tbody
          each property in propertys
            tr
              th
              td 
                a(href='/property/#{property.slug}')
                  sup
                  =property.name
              td !{property.category}
              td Kshs !{property.price} 
            
