extends layout

block content
  .admin-panel.clearfix
    .slidebar
      .logo
        img(src='/images/user.png', height='140px', width='160px')
      ul
        li
          a#targeted(href='/account') Overview
        li
          a(href='/account/profile') Profile
        li
          a(href='/account/mylisting') Listings
        li
          a(href='/account/messages') Messages
        li
          a(href='/account/favourites') Favourites
        li
          a(href='/account/settings') Settings
    .main
      ul.breadcrumb(style='margin-bottom: 5px;')
        li
          a(href='#') My Account
        li.active Profile
      .mainContent.clearfix
        #dashboard
          h2.header
            span.icon
            | Overview
        #profile
          h2.header Profile
        #listings
          h2.header Listings
        #messages
          h2.header Messages
        #favourites
          h2.header Favourites
        #settings
          h2.header Settings
