extends layout

block content
  .jumbotron.specialjum
    .featurette
      .featurette-inner.text-center
        form.search(role='form')
          h3.no-margin-top.h1 Buy and Rent Property in Kenya
          .input-group.input-group-lg
            input.form-control(type='search', placeholder='City, County')
            span.input-group-btn
              button.btn.btn-info(type='button')
                i.glyphicon.glyphicon-search
