extends layout

block content
  .jumbotron.specialjum
    h1 Buy and Rent Property in Kenya
    p
      | Search for properties across Kenya
    p
      a.btn.btn-primary.btn-lg Learn more
  .container
    .col-md-12
      .col-md-4
        img(src="")
        h2 Bungalow in Karen
      .col-md-4
        img(src="")
        h2 Mansionntte in Kitusuru
      .col-md-4
        img(src="")
        h2 Apartments in Westlands
    .col-md-12
      .col-md-4
        img(src="")
        h2 Bungalow in Karen
      .col-md-4
        img(src="")
        h2 Mansionntte in Kitusuru
      .col-md-4
        img(src="")
        h2 Apartments in Westlands
